*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --hover-color: hsl(5, 85%, 63%);
  --h3-section1-color: hsl(36, 100%, 99%);
  --border-bottom-color: hsl(233, 8%, 79%);
  --p-color: hsl(236, 13%, 42%);
  --title-color: hsl(240, 100%, 5%);

  --font-size: 15px;
  --font-family: "Inter", sans-serif;
  --fw-light: 400;
  --fw-medium: 700;
  --fw-bold: 800;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--fw-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--h3-section1-color);
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 62rem;
  max-width: 65rem;
  padding: 1.8rem 0;
  gap: 55px;
}

@media screen and (max-width: 450px) {
  .container {
    min-width: 15rem;
    max-width: 19.6rem;
    gap: 35px;
  }
}
